<div class="row">
  <div class="col-lg-4 col-12">
    <mat-card>
      <mat-card-header class="flex-end">
        <div class="row w-100">
          <div class="col-5 mr-auto">
            <h1>
              Profile
            </h1>
          </div>
          <div *ngIf="isSearch"
               class="col-5 d-flex justify-content-end">
            <button mat-raised-button
                    color="primary"
                    type="button"
                    (click)="followUser.emit(userProfile.id)">Follow</button>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <mat-card-content class="px-lg-5 pt-3">
          <form [formGroup]="form"
                (ngSubmit)="submit()">
            <div class="row">
              <div class="col d-flex justify-content-center">
                <label class="hoverable"
                       for="fileInput">
                  <img class="profileImg"
                       [src]="profilePictureUrl ? profilePictureUrl : defaultPicturePath"
                       alt="Profile image">
                  <div *ngIf="!isSearch"
                       class="hover-text">Change picture</div>
                  <div class="background"></div>
                </label>
                <br />
                <input id="fileInput"
                       type='file'
                       accept="image/*"
                       [formControl]="form.get('profileImgUrl')"
                       (change)="onSelectFile($event)">
                <!-- <button *ngIf="profilePictureUrl"
                        mat-icon-button
                        (click)="delete()">Remove photo
                  <mat-icon>delete</mat-icon>
                </button> -->
              </div>
            </div>

            <div class="row">
              <div class="col-xl-6 col-12">
                <mat-form-field>
                  <mat-label>First name</mat-label>
                  <input matInput
                         type="text"
                         [formControl]="form.get('firstName')">
                </mat-form-field>
              </div>
              <div class="col-xl-6 col-12">
                <mat-form-field>
                  <mat-label>Last name</mat-label>
                  <input matInput
                         type="text"
                         [formControl]="form.get('lastName')">
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <label>Gender:</label>
                <mat-radio-group [formControl]="form.get('gender')">
                  <mat-radio-button value="M">Male</mat-radio-button>
                  <mat-radio-button value="F">Female</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <mat-form-field>
                  <mat-label>Username</mat-label>
                  <input matInput
                         type="text"
                         [formControl]="form.get('username')">
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <mat-form-field>
                  <mat-label>Email</mat-label>
                  <input matInput
                         disabled
                         [value]="form.get('email').value">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field>
                  <mat-label>Description</mat-label>
                  <textarea matInput
                            [formControl]="form.get('description')"></textarea>
                </mat-form-field>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card-content>
      <mat-card-footer *ngIf="!isSearch">
        <div class="row">
          <div class="col-6">
            <button mat-raised-button
                    color="primary"
                    type="submit">Save</button>
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
  <div class="col-lg-8 col-12">
    <div class="row mt-2">
      <div class="col">
        <mat-tab-group mat-align-tabs="center">
          <mat-tab label="Photos">
            <div *ngFor="let photo of photos">
              <napho-photo-post-container [photo]="photo"
                                          (createComment)="createComment.emit($event)"></napho-photo-post-container>
            </div>
          </mat-tab>
          <mat-tab label="Favorite Photos">
            <div *ngFor="let photo of favPhotos">
              <napho-photo-post-container [photo]="photo"
                                          (createComment)="createComment.emit($event)"></napho-photo-post-container>
            </div>
          </mat-tab>
          <mat-tab label="Followers">
            <div *ngFor="let user of followers"
                 class="row">
              <div class="col">
                <mat-card class="mt-0">
                  <mat-card-content>
                    <div class="row">
                      <div *ngIf="user.profileImgUrl"
                           class="col-1">
                        <img class="profile"
                             [src]="user.profileImgUrl"
                             alt="Profile image">
                      </div>
                      <div *ngIf="!user.profileImgUrl"
                           class="col-1">
                        <img class="profile"
                             [src]="defaultPicturePath"
                             alt="Profile image">
                      </div>
                      <div class="ml-3 col-7">
                        <h3>{{user.username}}</h3>
                      </div>
                      <div class="col-3 d-flex justify-content-end">
                        <button mat-button
                                [routerLink]="['../..','profile',user.id]"><span class="d-none d-lg-inline">View
                            Profile</span>
                          <mat-icon>person</mat-icon>
                        </button>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Following">
            <div *ngFor="let user of following"
                 class="row">
              <div class="col">
                <mat-card class="mt-0">
                  <mat-card-content>
                    <div class="row">
                      <div *ngIf="user.profileImgUrl"
                           class="col-1">
                        <img class="profile"
                             [src]="user.profileImgUrl"
                             alt="Profile image">
                      </div>
                      <div *ngIf="!user.profileImgUrl"
                           class="col-1">
                        <img class="profile"
                             [src]="defaultPicturePath"
                             alt="Profile image">
                      </div>
                      <div class="ml-3 col-7">
                        <h3>{{user.username}}</h3>
                      </div>
                      <div class="col-3 d-flex justify-content-end">
                        <button mat-button
                                [routerLink]="['../..','profile',user.id]"><span class="d-none d-lg-inline">View
                            Profile</span>
                          <mat-icon>person</mat-icon>
                        </button>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </mat-tab>

        </mat-tab-group>
      </div>
    </div>
    <div>
    </div>
  </div>
</div>
