<div class="row">
  <div class="col">
    <mat-card>
      <mat-card-header>
        <div class="row">
          <div class="col-2">
            <img class="profile"
                 [src]="profilePictureUrl ? profilePictureUrl : defaultPicturePath">
          </div>
          <div class="ml-3 col-6">
            <h3>{{photo.user.username}}</h3>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content class="mt-2">
        <div class="border text-center">
          <img [src]="photo.imageUrl"
               class="img-fluid"
               alt="photo">
        </div>
        <div class="border row mt-1">
          <div class="col-lg-3 col-6">
            <button mat-button
                    color="primary">
              <mat-icon>favorite</mat-icon>
              <mat-icon>favorite_border</mat-icon>
              Favorite
            </button>
          </div>
          <div class="col-lg-3 col-6">
            <button mat-button
                    (click)="changeShowComment()">
              <mat-icon>comment</mat-icon>
              Comment
            </button>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-lg-3 col-6">
            <div>
              10 Favs
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <div (click)="changeShowComments()">
              {{photo.comments.length}} Comments
            </div>
          </div>
        </div>
        <mat-chip-list class="mt-2">
          <span *ngFor="let tag of photo.tags">
            <mat-chip>{{tag.content}}</mat-chip>
          </span>
        </mat-chip-list>
        <div class="mt-1">
          {{photo.description}}
        </div>
        <form [formGroup]="form"
              (ngSubmit)="onSubmit()">
          <div *ngIf="showComment"
               class="row">
            <div class="col-11">
              <mat-form-field>
                <mat-label>Add a comment</mat-label>
                <textarea matInput
                          [formControl]="form.get('content')"></textarea>
              </mat-form-field>
            </div>
            <div class="col-1">
              <button mat-icon-button
                      type="submit">
                <mat-icon>send</mat-icon>
              </button>
            </div>
          </div>
        </form>
      </mat-card-content>
      <mat-card-footer *ngIf="showComments">
        <h6 class="m-0">Comments</h6>
        <div *ngFor="let comment of photo.comments"
             class="row m-0">
          <div class="col p-0">
            <strong>{{comment.username}} </strong> {{comment.content}}
            <span *ngIf="photo.user.id === user.id && comment.status === pendingStatus">
              <button mat-icon-button
                      (click)="changeCommentStatus(comment.id, approvedStatus)">
                <mat-icon>check</mat-icon>
              </button>
              <button mat-icon-button
                      (click)="changeCommentStatus(comment.id, rejectedStatus)">
                <mat-icon>cancel</mat-icon>
              </button>
            </span>
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
